services:
  app:
    build: .
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - db
    volumes:
      - app_public_uploads:/app/public/uploads
      - app_signature_uploads:/app/uploads/signatures

  db:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_DATABASE: inventory
      MARIADB_USER: inventory
      MARIADB_PASSWORD: inventory_password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  app_public_uploads:
  app_signature_uploads:
