<% pageTitle = 'Willkommen' %>
<section class="landing">
  <h1>Willkommen im Ausleihsystem</h1>
  <p>Bitte melden Sie sich an, um Geräte und Räume zu reservieren.</p>
  <a class="button" href="/login">Zum Login</a>
</section>
